.radio-groups{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100px;
}
.radio1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    margin-right: 10px;
}
.radio2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}